.managerDashboard {
  &__btn {
    border: none;
    background-color: #2b8bb1;
    width: 7rem;
    margin: 1rem;
    border-radius: 8px;
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
  }
}
